main {
  max-width: 1440px;
  margin: 0 auto;
}

.appHeader {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 15vh;
  color: white;
}
.appHeader span {
  font-size: 30px;
}
